.Report {
  width: 100%;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 0.5rem 0.5rem rgba($color: #000000, $alpha: 0.25);

  &__Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Content {
    margin-top: 1rem;
    width: 45rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
  }

  &__Bottom {
    margin-top: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__Attachments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.Profile {
  display: flex;
  align-items: center;

  &__details {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }
}
