.HEADING_2 {
  font-size: 3.5rem;
  font-family: inherit;
  font-weight: 400;
  color: var(--color-font-grey);
}

.Paragraph {
  font-size: var(--font-size-title-primary);
  color: var(--color-font-grey);
  font-weight: 400;
}

.Heading_Tiny {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--color-font-black);
}

.Heading_Large {
  font-family: inherit;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: var(--color-font-black);
}

.Title_Bold {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-font-black);
}

.Heading_Hero {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 5.2rem;
  color: var(--color-font-black);
}
