.Note {
  width: 90%;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.2);
  padding: 1.5rem 2rem;
  margin: 1rem auto;

  // margin: 0 1rem;
  cursor: pointer;
  &__Top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem 0;
    margin-bottom: 1rem;
  }

  &__Actions {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
