@import "../../../styles/mixin";
.Tasks {
  margin-top: 2rem;
  &__Container {
    padding: 2rem;
    background-color: var(--color-grey-notes);

    position: relative;
    // height: 50rem;
    border-radius: 1rem;
    z-index: 0;
  }

  &__Top {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }

  &__Titles {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 0.8fr 3fr 1.5fr 1.5fr 1fr;

    grid-column-gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
    @include respond(tablet-land) {
      grid-column-gap: 1rem;
      grid-template-columns: 0.8fr 2.5fr 2fr 2fr 1fr;
    }
  }
}

.Default-Task {
  margin-top: 1rem;
  padding: 2rem;
  display: flex;
  box-shadow: 0rem 0rem 1rem rgba(#000, 0.24);
  background-color: var(--color-white);
  border-radius: 1rem;
  z-index: 1;
}
