.btn {
  padding: 1rem 2rem;
  font-weight: var(--font-size-title-primary);
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 1rem;
  border: none;
  outline: none;
  max-height: 4.5rem;
  height: 100%;
  margin: 1rem 0;
  font-size: 1.4rem;
  cursor: pointer;

  &:disabled {
    background-color: var(--color-font-grey);
  }

  &--full {
    box-shadow: 0rem 0.4rem 2.5rem rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in;

    &:hover {
      box-shadow: 0rem 1rem 2.5rem rgba(0, 0, 0, 0.4);
    }
  }
  &--dark {
    background-color: var(--color-font-black) !important;
  }

  &--text {
    font-family: inherit;
    color: var(--color-font-grey);
    a {
      color: var(--color-blue);
      text-decoration: none;
    }
  }
}

.BtnOptions {
  position: relative;
  display: inline-block;
  button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.2s ease-in;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.25));
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    list-style: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    left: -2rem;
    top: 3rem;
  }

  &__option {
    padding: 1rem 2rem;
    min-width: 18rem;
    background-color: var(--color-white);
    cursor: pointer;
    // transition: background-color 0.2s ease-in;
    text-align: center;

    &:hover {
      background-color: var(--color-blue);
      p {
        color: var(--color-white) !important;
      }
    }

    &:not(:last-of-type) {
      border-bottom: 2px dashed rgba(0, 0, 0, 0.25);
    }
  }
}

.BtnLink {
  display: inline-block;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 5rem;
  font-size: 1.4rem;
  text-decoration: none;
}

.Btn__Close {
  display: inline-block;
  position: relative;
  z-index: 200;
  background-color: transparent;
  height: 4rem;
  width: 4rem;
  outline: none;
  cursor: pointer;
  border: none;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 3rem;
    height: 0.3rem;
    border-radius: 1rem;
    background-color: var(--color-error);
    top: 50%;
    left: 50%;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
