.Overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgba(196, 196, 196, 0.3);
  backdrop-filter: blur(1px);
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 100;

  &__transparent {
    background-color: transparent !important;
    backdrop-filter: blur(0) !important;
    cursor: auto !important;
  }
}
