.Branch {
  margin-top: 4rem;
  &__Sub {
    margin-top: 3rem;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 32rem));
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
}

.Account {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-grey-lighter);
  cursor: pointer;
  transition: box-shadow 0.2s ease-in;
  //   max-width: 35rem;

  &__details {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    grid-template-rows: 0.8fr 1fr;
    grid-row-gap: 1rem;
  }

  &__image {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &:hover {
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.25);
  }

  &:not(:last-of-type) {
    // margin-right: 5rem;
  }
}

.Top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  //   background-color: blue;
}

.Signup {
  &__Container {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 40rem));
    grid-template-rows: repeat(4, minmax(3rem, 10rem));
    grid-column-gap: 4rem;

    button {
      margin-top: 4.5rem;
      grid-column: 2/-1;
      grid-row-start: -2;
      max-height: 4.5rem;
    }
  }
}
