.TextInputLabel {
  display: flex;
  flex-direction: column;
  // max-width: var(--max-width-input);
  margin: 2rem 0;
  // width: 100%;

  label {
    font-size: var(--font-size-title-primary);
    font-weight: 400;
    color: var(--color-font-grey);
  }

  input {
    padding: 1rem 1.5rem;
    background-color: var(--color-font-light);
    border: none;
    outline: none;
    border-radius: 1rem;
    font-size: var(--font-size-title-primary);
    margin-top: 0.5rem;
    width: 100%;
    font-family: inherit;
    border: 2px solid var(--color-primary-light);

    &[type="email"]:invalid {
      border-bottom: 2px solid var(--color-error);
    }

    &:focus {
      border: 2px solid var(--color-blue);
    }
  }
  width: 100%;
  min-width: var(--max-width-input);
}

.Checkbox {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  label {
    font-size: var(--font-size-title-primary);
    font-weight: 600;
    color: var(--color-font-grey);
    margin-left: 1rem;
  }

  input {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.btn {
  padding: 1rem 2rem;
  font-weight: var(--font-size-title-primary);
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 1rem;
  border: none;
  outline: none;
  margin: 3rem 0;
  cursor: pointer;

  &__full {
    box-shadow: 0rem 0.4rem 2.5rem rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in;

    &:hover {
      box-shadow: 0rem 1rem 2.5rem rgba(0, 0, 0, 0.4);
    }
  }
}

.textButton {
  font-family: inherit;
  color: var(--color-font-grey);
  a {
    color: var(--color-blue);
    text-decoration: none;
  }
}

.SelectInput {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem 0;
  // min-width: var(--max-width-input);
  width: 100%;

  &__Add {
    width: 2.2rem;
    height: 3px;
    background-color: var(--color-blue);
    position: absolute;
    right: -3rem;

    border-radius: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in;
    &__animate {
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      width: 2.2rem;
      height: 3px;
      background-color: var(--color-blue);
      position: absolute;
      right: 0;
      content: " ";
      border-radius: 1rem;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &__Input {
    padding: 1rem 2rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border: 2px solid var(--color-blue);
    border-radius: 1rem;
    width: 100%;
    outline: none;
    font-size: var(--font-size-title-primary);
    font-family: inherit;
  }

  &__Selected {
    margin-top: 0.5rem;
    padding: 1rem 2rem;
    background-color: var(--color-blue);
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__Item {
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: var(--color-white);
    &:hover {
      background-color: var(--color-blue);
      p {
        color: var(--color-white);
      }
    }
    &:not(:last-of-type) {
      border-bottom: 2px solid rgba(0, 0, 0, 0.25);
      border-bottom-style: dashed;
    }
  }

  &__Items {
    position: absolute;
    margin-top: 0.5rem;
    top: 7rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%;
    // background-color: aqua;
  }

  &__Icon {
    color: var(--color-white);
    font-size: var(--font-size-heading-large);
  }
}
