.Container {
  display: grid;
  grid-template-columns: 3fr minmax(30rem, 50rem);
  height: 100vh;
  &__Left {
    position: relative;
    object-fit: cover;
    img {
      object-fit: cover !important;
    }
  }

  &__Right {
    display: flex;
    align-items: center;
    // max-height: max-content;
    position: relative;
  }
}

.Form {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__otherText {
    margin-top: 4rem;
  }

  &__SubHeading {
    margin-bottom: 3rem;
  }

  &__Heading,
  &__TextBox {
    margin-bottom: 1.5rem;
  }

  // &__SubHeading {
  //   margin-bottom: 2rem;
  // }

  &__Button {
    margin-top: 1rem;
  }

  &__forgetPassword {
    position: absolute;
    bottom: 3rem;
    span {
      cursor: pointer;
      color: var(--color-font-black);
      font-weight: bold;
    }
  }
}
