.Form {
  padding: 0 4rem;
  &__Container {
    margin-top: 4rem;

    &__Content {
      padding: 4rem 0;
      border-bottom: 0.2rem solid var(--color-grey-lighter);
      display: grid;
      grid-row-gap: 2rem;
    }
  }

  &__Item {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(5rem, 10rem) 1fr;
    align-items: center;
  }
}
