.Container {
  display: flex;
  margin-top: 8rem;
}

.Left {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  margin-right: 4rem;
  &__Top {
    margin-bottom: 4rem;
  }
}

.Right {
  flex: 0 1 70%;

  &__Search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Results {
    margin-top: 4rem;
  }
}
