@import "../../styles/mixin";
.Container {
  display: flex;
  margin-top: 8rem;
  @include respond(phone-l) {
    flex-direction: column;
  }
}

.Left {
  display: flex;
  flex-direction: column;
  flex: 0 1 20%;
  margin-right: 4rem;
  @include respond(phone-l) {
    margin-right: auto;
  }
  &__Top {
    margin-bottom: 4rem;
  }
}

.Right {
  flex: 0 1 80%;

  &__Search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__Results {
    margin-top: 4rem;
  }
}
