.Branch {
  margin-top: 4rem;
  &__Sub {
    margin-top: 3rem;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 32rem));
    grid-column-gap: 8rem;
    grid-row-gap: 4rem;
  }
}
