.DateInput {
  max-width: 22rem;
  background-color: var(--color-grey-lighter);
  font-size: var(--font-size-title-primary);
  max-height: 4rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
}
