@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --max-width: 114rem;
  --color-font-black: #3a3a3a;
  --color-font-light: #fcfcfc;
  --color-primary-light: #d1d1d1;
  --color-grey-lighter: #f2f2f2;
  --color-white: #fff;
  --color-blue: #2f80ed;
  --color-font-grey: #797979;
  --color-error: #eb5757;
  --color-green: #219653;
  --color-yellow: #f2c94c;
  --color-grey-notes: rgba(217, 217, 217, 0.3);

  /* FONTS */

  --font-size-title-primary: 1.4rem;
  --font-size-heading-large: 2.4rem;

  /* INPUTs */
  --max-width-input: 32rem;

  /* OTHER PROPERTIES */
  --border-radius: 1rem;
  --drop-shadow: 0 0.5rem 1rem rgba(#000, 0.27);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
    scrollbar-color: red green;
  }
}

body {
  font-family: inherit;
}

.Section {
  max-width: var(--max-width);
  margin: 5rem auto;
}

// ::-webkit-scrollbar {
//   width: 1rem;
//   // visibility: hidden;
// }

// ::-webkit-scrollbar-track {
//   background-color: var(--color-grey-lighter);
// }

// ::-webkit-slider-thumb {
//   background-color: red !important;
//   // width: 0.8rem;
// }

// ::-webkit-slider-thumb:hover {
//   background-color: green;
// }
