@import "../../../styles/mixin";
.Form {
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;
  background-color: var(--color-grey-lighter);
  border-radius: var(--border-radius);

  @include respond(phone-l) {
    padding: 1rem 3rem;
    width: 100%;
    border-radius: 0;
    height: 90vh;
  }
}
.Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Paragraph--or {
  width: 100%;
  text-align: center;
}
.Btn--login {
  margin-top: 3rem;
}

.Btn--forget {
  margin-top: 2rem;
  text-align: center;
}
